.about {
  background-image: url('./background.jpg');
  background-color: aquamarine;
  padding: 1px;
  color: aliceblue;
  height: 100vh; 
}

.about-main
{
display: flex;
justify-content: center;
gap: 20px;
align-items:space-between;
margin-top: 5%;
margin-bottom: 15px;
}

.about-content-first {
  margin: 20px;
}
.about-image
{
 border-radius: 50%;
 height: 500px;
}

.about-content-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}

@media screen and (max-width: 560px) {
   .about-main
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding-top: 10px;
  }
  
  .about-content-first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .about-image
  {
   width: 200px;
   height: 200px;
  }
  
  .about-content-second {
    padding: 5px;
  }
  
  .row td
  {
   font-size: 70px;
  }
}